/* Thanks to http://clrs.cc/ for their appealing colors */

body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background: black;
	font-family: Ubuntu;
	font-size: 20px;
	text-align: center;
}
#pageTitle {
	color: #3D9970;
}
#titleSeparater {
	height: 2px;
	background: #3D9970;
	margin: 5px 0px 5px 10%;
}
.project {
	padding: 20px 0px;
	text-align: center;
	width: 400px;
	display: inline-block;
	margin: auto;
	color: white;
}
.projTitle {
	margin: 0px 0px 5px 0px;
	font-size: 28px;
	color: #3D9970;
}
img {
	width: 300px;
	border: 1px solid grey;
}
hr {
	height: 1px;
	background: grey;
	border: 0px;
	width: 80%;
	margin: 3px 0px 3px 10%;
}
a {
	display: inline-block;
	color: tan;
	text-decoration: none;
}
.linkPNG {
	width: 16px;
	height: 16px;
	border: none;
	margin-bottom: -2px;
}