/* Thanks to http://clrs.cc/ for their appealing colors */

body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
}
#pageTitle {
	color: #3D9970;
	font-size: 35px;
	padding: 10px 0px;
	font-weight: bold;
	margin: 0px;
}
#titleSeparater {
	height: 2px;
	background: #3D9970;
	margin: 5px 0px 5px 10%;
}
.project {
	padding: 20px;
	text-align: center;
	width: 482px;
	display: inline-block;
	margin: auto;
	color: white;
}
.projTitle {
	margin: 0px 0px 5px 0px;
	font-size: 28px;
	color: #3D9970;
}
.projImage {
	width: 480px;
	border: 1px solid grey;
}
.link {
	display: inline-block;
	color: tan;
	text-decoration: none;
}
.linkPNG {
	width: 16px;
	margin-bottom: -2px;
	background: tan;
}
.separator {
	height: 1px;
	background: grey;
	border: 0px;
	width: 80%;
	margin: 3px 0px 3px 10%;
}